h1
{
    color:blue;
    font-size:xx-large;
    font-family: cursive;
    text-align: center;
}
body
{
    background-color: pink;
}
h2.moda
´{
    text-align: center;
}
p
{
    color: brown;

}
h3
{
    color: brown;
    font-size: large;
}
}
